:root {
    --content-item-background-color: #eeedef;
    --content-item-border-color: #ff0000;
    --content-item-image-border-color: #000;
}

.content {
    margin: 0 auto;
    width: 80vw;

    &__item {
        background-color: var(--content-item-background-color);
        border: .0625rem solid var(--content-item-border-color);
        margin: 1.875rem;
        padding: .625rem;
        position: relative;

        //==========================================


        &__twocol:checked~&__text__s {
            columns: 2;
        }

        &__twocol:checked~&__text__e {
            columns: 2;
        }


        //==============================================
        &__english:checked~&__text__s {
            display: none;


        }

        &__english:checked~&__text__e {
            display: block;
            text-align: justify;

        }



        &__title {
            align-content: center;
            margin: 3.125rem 0rem 2.1875rem 0rem;
        }

        &__image {
            border: .0625rem solid var(--content-item-image-border-color);
            position: absolute;
            right: .625rem;
            top: .625rem;

        }

        &__text {
            &__s {
                display: block;
                text-align: justify;
            }

            &__e {
                display: none;
            }

        }
    }
}