:root {
    --header-background-color: #fff;
}

.header {
    background-color: var(--header-background-color);
    display: flex;
    flex-direction: column;
    width: 100%;

    &__image {
        margin-bottom: .3125rem;
    }

}

@import url('./banner.css');
@import url('./nav.css');