:root {
    --footer-background-color: #000;
    --footer-text-color: #fff;
}

.footer {
    background-color: var(--footer-background-color);
    padding: 1rem;

    &__content {
        color: var(--footer-text-color);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        &__right {
            margin: 1rem;
        }

        &__left {
            margin: 1rem;
        }

    }
}